section(class='content')
    .top-bar
        span 'Markdown Editor'
        span Set Location 
        span You haven't selected a location
        span save
    .editing-area
        .left-pane
            textarea
        .right-pane
footer('ngfooter'='')