.instruction-banner
    h2 instruction
    ol
        li Select a folder from your cloud services.
        li Edit the markdown on the left, preview it as HTML on the right.
        li Click the save button to save the file or let the app save it periodically. 
.top-bar
    h2.logo Markdown Editor
    .file-control 
        button.btn.btn-primary(type='submit') Button
        span.path You haven't selected a location
        button.btn.btn-primary(type='submit') Save
.editing-area
    .left-pane.pane
        textarea
    .right-pane.pane
        h4 tiasdtioasjdt
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
        p asdfasdfasdfasdfasdfasdfasdfasdfsadf
footer('ngfooter'='')